<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head' ); %>
    </head>
    <body class="container-fluid" style="font-family: font-sans-serif">
        <header>
            <%- include('../partials/header' ); %>
        </header>

        <header>
            <%- include('../partials/header2' ); %>
        </header>
    <div class="wrapper">
        <%- include('../partials/slide' ); %>
    <div>

    <div class="wrapper">
        <%- include('../partials/moto' ); %>
    <div>
    <div class="wrapper">
        <%- include('../partials/services' ); %>
    <div>
    
    <div class="wrapper">
        <%- include('../partials/river' ); %>
    <div>
        
    <div class="wrapper">
        <%- include('../partials/about' ); %>
    <div>
        
    <div class="wrapper">
        <%- include('../partials/promise' ); %>
    <div>


    <div class="wrapper">
        <%- include('../partials/map' ); %>
    <div>
<footer>
        <%- include('../partials/footer' ); %>
</footer>
</body>
